= simple_form_for @event, :html => { :class => "form-horizontal" } do |f|
  -if @event.errors.any?
    .alert.alert-danger.alert-dismissable
      %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} &times;
      %h4= "#{pluralize(@event.errors.count, "error")} prohibited this event from being saved:"

      %ul
        - @event.errors.full_messages.each do |msg|
          %li= msg

  =f.input :name
  =f.input :date_start
  =f.input :description
  =f.input :invite_start
  =f.input :invite_end
  =f.input :member_min
  =f.input :member_max
  =f.input :time_limit
  =f.input :take_part
  =f.input :public_list
  =f.button :submit
